
.cardContainer {
    margin-top: 20px; 
  }
  
 

.card {
    width: 400px;
    background: linear-gradient(45deg, #797878, #030303); 
    border-radius: 10px; 
    margin: 10px; 
  }
  
  
  .cardMedia {
    height: 300px; 
  }
  
  .cardTitle {
    font-size: 1.5rem;
  }
  
  .cardContent {    
    font-size: 1rem; 
  }
  
  .cardActions {
    justify-content: space-between; 
  }
  

.container {
    display: flex; 
  }
  
  .cardContainer {
    margin-right: 56px; 
  }
  